<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="tm.Ezz.Game.Engine">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
		android:requestLegacyExternalStorage="true"
		android:screenOrientation="landscape"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/NoActionBar1"
        android:largeHeap="true"
        android:name=".App"
        android:resizeableActivity="true">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".DebugActivity"
            android:screenOrientation="landscape"/>

		<activity
            android:name=".UploadProjectActivity"
            android:screenOrientation="landscape"/>
		
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape"/>
        
		<activity
            android:name=".ProjectViewActivity"
            android:screenOrientation="landscape"/>
		
		<activity
            android:name=".MarketActivity"
            android:screenOrientation="landscape"/>
		
		<activity
            android:name=".RegisterActivity"
            android:screenOrientation="landscape"/>
		
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="landscape"/>
		
		<activity
            android:name=".SettingsActivity"
            android:screenOrientation="landscape"/>

        <activity
			android:windowSoftInputMode="adjustPan"
			android:name=".EditorActivity"
            android:screenOrientation="landscape"/>

		<activity
            android:name=".ScriptEditorActivity"
            android:screenOrientation="landscape"/>

		<activity
			android:name=".FullScreenGame"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.Material.Light.NoActionBar.Fullscreen"/>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

    </application>

</manifest>
